.root {
  border-radius: 40px;
}

.small {
  padding: 2px 6px;

  font-size: var(--typography-xs-font-size);
  line-height: var(--typography-xs-line-height);
  font-weight: var(--font-weight-semi-bold);
}

.large {
  padding: 4px 10px;

  font-size: var(--typography-s-font-size);
  line-height: var(--typography-s-line-height);
  font-weight: var(--font-weight-regular);
}

.primary {
  color: var(--green-light);
  background-color: var(--green-transparent);
}

.secondary {
  color: var(--black);
  background-color: var(--white);
}

.tertiary {
  color: var(--white);
  background-color: var(--black);
}
