.root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;

  height: 100%;
}

.greetings {
  font-size: var(--typography-s-font-size);
  line-height: var(--typography-s-line-height);
  font-weight: var(--font-weight-medium);
}

.name {
  margin-bottom: 6px;

  font-size: var(--typography-l-font-size);
  line-height: var(--typography-l-line-height);
  font-weight: var(--font-weight-semi-bold);
}

.position {
  color: var(--gray);

  font-size: var(--typography-m-font-size);
  line-height: var(--typography-m-line-height);
  font-weight: var(--font-weight-semi-bold);
}
